{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ game['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name"
      value="{{ request.form['name'] or game['name'] }}" required>
    <label for="released_year">Released year</label>
    <input name="released_year" id="released_year"
      value="{{ request.form['released_year'] or game['released_year'] }}" required>
    <label for="publisher">Publisher</label>
    <input name="publisher" id="publisher"
      value="{{ request.form['publisher'] or game['publisher'] }}" required>
    <label for="platform">Platform</label>
    <input name="platform" id="platform"
      value="{{ request.form['platform'] or game['platform'] }}" required>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('catalog.delete', id=game['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
